os:
  #- osx
  - linux

dist: bionic
#osx_image: xcode11

language: 
 - cpp
 - python

install:
  - ./tools/install.sh

env:
  - TOMCAT=$TRAVIS_BUILD_DIR

script:
  - cd ${TOMCAT}/build && make -j 
             && export JAVA_HOME=$(/usr/libexec/java_home -v"1.8")
             && make -j Minecraft
             && ./bin/test --mission ../external/malmo/sample_missions/default_world_1.xml 
             && cd ../
  - cd ${TOMCAT}/build && make docs && cd ../


after_success:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      lcov -d build/tests/CMakeFiles/test.dir -d build/src/CMakeFiles/tomcat.dir -c -o coverage.info
   && lcov -e coverage.info '*tomcat/src*' -o coverage.info
   && bash <(curl -s https://codecov.io/bash) -f coverage.info; fi

deploy:
  local-dir: build/docs
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch:
      - master
      - website
