os:
  - osx

osx_image: xcode11

language: 
 - cpp

addons:
  homebrew:
    packages:
      - graphviz
      - cmake
      - boost
      - doxygen
      - opencv
      - fmt
      - ffmpeg
      - openblas
      - lcov

install:
  - cd external && curl -O http://dlib.net/files/dlib-19.17.tar.bz2 
    && tar -xvjf dlib-19.17.tar.bz2 && cd ../

script:
  - mkdir build && cd build && cmake .. && make -j test && cd ../
  - cd build && ./bin/test --mission ../external/malmo/sample_missions/default_world_1.xml && cd ../

after_script:
  - cd build && make docs

env:
  - MALMO_XSD_PATH=~/tomcat/external/malmo/Schemas

after_success:
  - lcov -d build/tests/CMakeFiles/test.dir -d build/src/CMakeFiles/tomcat.dir -c -o coverage.info
  - lcov -e coverage.info '*tomcat/src*' -o coverage.info
  - bash <(curl -s https://codecov.io/bash) -f coverage.info

deploy:
  local-dir: build/docs/html
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch:
      - master
      - website
