<!DOCTYPE html>
<html lang="en">
<div style="background-color: bisque; height: 40px">
  <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mainpage.css') }}">

    <h2 class="mt-5">ToMCAT</h2>
  </head>

</div>

  <body>

    <header>
      Please click the 'Start recording' button and then read the text that appears below aloud. Once you are done, click the 'Stop recording' button.
    </header>
    <main>

		<h3 style="font-family:courier;">Instructions:</h3>
			<ol style="font-family:courier;">
						Minecraft is a sandbox construction game in which players can control the environment. The Minecraft world for this game will require players to pick roles. You are tasked with search and rescue in this scenario. Keep the channels of communication open. Since this is a rescue site, be careful as you clear rubble and identify the critical victims.

Some of the tools you will have access to include a medkit, a stretcher, and a hammer. Using the map, identify the zone the team wishes to work on, and proceed to clear the floor and the rooms. As you orient yourself in the environment, pay attention to doors and windows.

Player roles include a medic, and engineer and a searcher. You can pick your roles based on the game's requirements. Pay attention to the clock. Keep the game's objectives in sight as you proceed.
			</ol>
      <ul id="recordings"></ul>
        <div class="controls">
        <button type="button" id="record">Start Recording</button>
            <button type="button" id="stop">Stop Recording</button>
        <label for="number">Enter your ID number:</label>

<input type="number" id="number" name="ID"
       min="1" max="100">
</div>

      </div>
    </main>

    <script>

        function myFunction() {

        }
// Close the dropdown if the user clicks outside of it
      window.addEventListener('DOMContentLoaded', () => {
        const recordButton = document.getElementById('record');
        const endButton = document.getElementById('stop');
        const list = document.getElementById('recordings');
        if ('MediaRecorder' in window) {
          recordButton.addEventListener('click', async () => {
            try {
              const stream = await navigator.mediaDevices.getUserMedia({
                audio: true,
                video: false
              });
              const mimeType = 'audio/webm';
              let chunks = [];
              const recorder = new MediaRecorder(stream, { type: mimeType });
              recorder.addEventListener('dataavailable', event => {
                if (typeof event.data === 'undefined') return;
                if (event.data.size === 0) return;
                chunks.push(event.data);
              });
              recorder.addEventListener('stop', () => {
                const recording = new Blob(chunks, {
                  type: mimeType
                });
                renderRecording(recording, list);
                chunks = [];
              });
              recorder.start();
              endButton.addEventListener('click', () => {
                recorder.stop();
              });
            } catch {
              renderError(
                'You denied access to the microphone so this demo will not work.'
              );
            }
          });
        } else {
          renderError(
            "Sorry, your browser doesn't support the MediaRecorder API, so this demo will not work."
          );
        }
      });

      function renderError(message) {
        const main = document.querySelector('main');
        main.innerHTML = `<div class="error"><p>${message}</p></div>`;
      }

      function renderRecording(blob, list) {
          const blobUrl = URL.createObjectURL(blob);
          const li = document.createElement('li');
          const audio = document.createElement('audio');
          const anchor = document.createElement('a');
          anchor.setAttribute('href', blobUrl);
          anchor.setAttribute("id","anchor")
          const now = new Date();
          let number = document.getElementById('number').value;
          anchor.setAttribute(
              'download',
              `RecordingUser-${number}.webm`
          );
          li.appendChild(audio);
          li.appendChild(anchor);
          list.appendChild(li);
  document.getElementById('anchor').click();
      }

    </script>
  </body>
</html>
