<style>
    body{
        line-height: 28px;
	width:78%;
        font-size: 22px;
        font-family: Serif;
}
</style>

  <body>
    <h2 class="mt-5" style="background-color: gold;text-align: center;width: 135%">ToMCAT Study</h2>
    <header style="font-family: Serif;font-size: 25px">
        <h3 style="font-family:Serif;font-size: 35px;text-align: center;width: 135%">General instructions:</h3>

        This section of the study has two speech recording tasks. For each recording task, when you are ready, you will need to:
        </header>
<ol>
            <li>Add your ID number in the text box provided. Note that the recording will not begin without it. If you are unsure of your ID number, please contact a member of the research team to assist you.</li>
	<li>Press the ‘Start Recording’  button to begin each recording.</li>
    <li> Give permission to the browser to record audio, if prompted. </li>
    <li>Press the ‘Stop Recording’ button to end each task, once you are finished. </li>
        </ol>
<p>
    Please go ahead and click ‘Next’ to move on to the first task. <a href="task1_page.html">Next</a>
</p>
  </body>
