<style>
    body{
        line-height: 28px;
	width:78%;
}
</style>
  <body>
    <h3 style="font-family:Serif;font-size: 28px;text-align: center;width: 135%">Task-2: Map Task</h3>
    <main>
        <body style="font-family:Serif;color: black; font-size: 22px">
        <h4 style="font-family:Serif;font-size: 25px;text-align: center;width: 135%">Instructions:</h4>
            For the following map task, you will be helping your friend reach their destination on a building floor. They are located on the entrance on the left side of the map, at the point with the person emoji. Your friend does not have access to the map. Therefore, you will need to give them directions so that they can:

            <ol>
            <li>  Reach the room with the cardboard box (top left).</li>

            <li>  Travel to the room with the stop sign (bottom right).</li>
            </ol>
 Please make sure that your friend has as much information and details as possible so that they can navigate the floor without getting lost.

        <p>
    Please go ahead and click ‘Next’ to start the task <a href="fourth_page.html">Next</a>
</p>

<p><a href = "second_page.html">Back</a></p>
        </body>
        </main>
  </body>


