# This is a basic workflow to help you get started with Actions

name: Continuous Integration

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '8.0.232'

    - name: Continuous Integration
      run: |
        ./tools/install.sh
        xvfb-run --auto-servernum ./tools/run_session.sh
        sudo apt-get install sbcl
        curl -O https://beta.quicklisp.org/quicklisp.lisp
        sbcl --load quicklisp.lisp
        sbcl --load ../../src/pddl/sar-pddl-testing.lisp

