# This is a basic workflow to help you get started with Actions

name: Build and test ToMCAT

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '8.0.232'

    - name: Continuous Integration
      run: |
        ./tools/install.sh
        xvfb-run --auto-servernum ./tools/run_session.sh
