# This is a basic workflow to help you get started with Actions

name: Deploy website to Github Pages

on:
  push:
    branches: [ linux_testing ]

jobs:
  build:
    runs-on: [ ubuntu-latest ]

    steps:
    - uses: actions/checkout@v2
    - name: Build docs
      run: |
        sudo apt-get install -y python3-venv
        python3 -m venv tomcat_venv
        source tomcat_venv/bin/activate
        pip install wheel
        pip install exhale recommonmark sphinx-rtd-theme
        pushd docs > /dev/null
          mkdir build
          cd build
          cmake ..
          make docs
        popd > /dev/null

    - name: Deploy docs
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/build/docs
